<%- include('partials/header') %>

<div class="container">
    <div class="section">
        <h1 class="center">A Place to Share and Access all of Your Favorite Herbal Recipes!</h1>
    </div>
  
</div>

<%- include('partials/footer') %>
