<%- include('partials/header') %>

<div class="container">
    <div class="section">
        <h1 class="center">Welcome to Herbal Recipes for Everyday Wellness!</h1>
    </div>
  
</div>

<%- include('partials/footer') %>
