nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ee6e73;
}

@media only screen and (max-width: 992px) {
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

nav a.button-collapse {
  color: black;
}
.purple.lighten-1 {
  background-color: #cc0066 !important;
}
.teal-text.text-lighten-2 {
  color: #cc0066 !important;
}
.share-buttons {
  list-style: none;
}

.share-buttons li {
  display: inline;
}
nav {
  overflow: visible;
}
nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
