<%- include('../partials/header') %>
<div class="container">
  <h2 id="all-recipes">All Recipes</h2>
  <div class="row">
    <% recipes.forEach(function(r){ %>
    <div class="col s12 m6 l4">
      <%= r.title %>
      <a href="/recipes/<%= r._id %>">DETAILS</a>
    </div>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer') %>
