<%- include('../partials/header') %>
<div class="container">
  <h1 id="all-recipes">All Recipes</h1>
  <div class="row">
    <% recipes.forEach(function(r){ %>
        <div class="col s12 m6 l4"><%= r.title %></div>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer') %>
