<%- include('../partials/header') %>
<div class="container">
<h2>Add a New Recipe</h2>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Name of Recipe" id="recipe_name" type="text" class="validate">
          <label for="recipe_name">Name of Recipe:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Description of Recipe" id="description" type="text" class="validate">
          <label for="description">Description of Recipe:</label>
        </div>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="ingredients" class="materialize-textarea"></textarea>
              <label for="ingredients">Ingredients:</label>
            </div>
          </div>
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="instructions" class="materialize-textarea"></textarea>
                <label for="instructions">Instructions:</label>
              </div>
            </div>
        </form>
      </div>
      <input type="submit" value="Add Recipe" />
      </div>
    </form>
  </div>










</div>

<%- include('../partials/footer') %>
